UserParameter=jolokia-amq[*],HOME=/var/lib/zabbix curl -s -u {{jolokia_admin.name }}:{{ jolokia_admin.password }} "http://localhost:8161/console/jolokia/read/org.apache.activemq.artemis:broker=\"$1\"$2"  | jq -r $3
UserParameter=jolokia-amq.queue[*],HOME=/var/lib/zabbix curl -s -u {{jolokia_admin.name }}:{{ jolokia_admin.password }}  "http://localhost:8161/console/jolokia/read/org.apache.activemq.artemis:broker=\"{{ inventory_hostname_short }}\",component=addresses,address=\"$1\",subcomponent=queues,routing-type=\"$2\",queue=\"$3\"$4" | jq -r ".value"
UserParameter=jolokia-amq.queue.discovery[*],HOME=/var/lib/zabbix python {{ zabbix_scripts_dir }}/queue_discovery.py /opt/redhat/amq-broker/ha_instance/etc/broker.xml
