upstream myApp {
      server 10.205.46.45:80 max_fails=1 fail_timeout=10s weight=5;
  }

server {
    listen 80;
    server_name dealer.nextcar.ru client.nextcar.ru api.nextcar.ru dealerapi.nextcar.ru ;

    log_subrequest on;

    keepalive_timeout   60;
#    add_header Strict-Transport-Security 'max-age=604800' always;

    location / {

        if ($msec ~ "(.*)\.(.*)") {
            set $epoch_millis "$1$2";
        }

        access_log /var/log/nginx/next.car.access.log ncar;
        error_log /var/log/nginx/next.car.error.log warn;

        #auth_basic "Restricted Content";
        #auth_basic_user_file /etc/nginx/conf.d/.htpasswd;

        proxy_pass http://myApp;
        proxy_pass_header Set-Cookie;
        proxy_next_upstream error timeout;
        proxy_set_header Host      $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        add_header X-Proxy-Cache $upstream_cache_status;
        auth_basic "Restricted Content";
        auth_basic_user_file /etc/nginx/.htpasswd;
    }

    location /nginx_status {
<------>stub_status on;
<------>access_log off;
<------>allow 127.0.0.1; #Указываем IP адрес, с которого будем опрашивать Nginx с помощью CollectD.
<------>deny all;
    }
}

server {
    listen 80;
    server_name admin.nextcar.ru;

    log_subrequest on;

    keepalive_timeout   60;
#    add_header Strict-Transport-Security 'max-age=604800' always;

location / {

    if ($msec ~ "(.*)\.(.*)") {
        set $epoch_millis "$1$2";
    }

    access_log /var/log/nginx/next.car.access.log ncar;
    error_log /var/log/nginx/next.car.error.log warn;

    #auth_basic "Restricted Content";
    #auth_basic_user_file /etc/nginx/conf.d/.htpasswd;

    proxy_pass http://myApp;
    proxy_pass_header Set-Cookie;
    proxy_next_upstream error timeout;
    proxy_set_header Host      $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    add_header X-Proxy-Cache $upstream_cache_status;
    auth_basic "Restricted Content";
    auth_basic_user_file /etc/nginx/.httpassadmin;
}

location /nginx_status {
    stub_status on;
    access_log off;
    allow 127.0.0.1; #Указываем IP адрес, с которого будем опрашивать Nginx с помощью CollectD.
    deny all;
}
}


server {
listen 80;
server_name nextcar.ru www.nextcar.ru;

log_subrequest on;

keepalive_timeout   60;
#    add_header Strict-Transport-Security 'max-age=604800' always;

location / {

    if ($msec ~ "(.*)\.(.*)") {
        set $epoch_millis "$1$2";
    }

    access_log /var/log/nginx/next.car.access.log ncar;
    error_log /var/log/nginx/next.car.error.log warn;

    #auth_basic "Restricted Content";
    #auth_basic_user_file /etc/nginx/conf.d/.htpass;

            proxy_pass http://myApp;
            proxy_pass_header Set-Cookie;
            proxy_next_upstream error timeout;
            proxy_set_header Host      $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            add_header X-Proxy-Cache $upstream_cache_status;
            auth_basic "Restricted Content";
            auth_basic_user_file /etc/nginx/.httpassfront;
        }

        location /nginx_status {
            stub_status on;
            access_log off;
            allow 127.0.0.1; #Указываем IP адрес, с которого будем опрашивать Nginx с помощью CollectD.
            deny all;
        }
    }
