<?php

return [
    'dsn' => 'mysql:host={{ app_yii_mysql_host }};dbname={{ app_yii_mysql_dbname }}',
    'username' => '{{ app_yii_mysql_username }}',
    'password' => '{{ app_yii_mysql_password }}',
];
